@charset "utf-8";
body, html {
    height:100%;
    width:100%;
    color:#333;
    font-family: 'PT Sans Narrow', sans-serif;
}

@font-face {
    font-family: 'TituloTema';
    src:url(../_fonts/chawp.ttf);
}


body {
    margin:0;
    padding:0;
}

* {margin:0; padding:0}

.clear{
    clear: both;
}

/******************************
Topo
*******************************/

.topo {
    position:absolute;
    margin-left:39px;
    width:722px;
}

.topo .linha-titulo, .topo .linha-paginacao {
    width:722px;
}

.topo .linha-titulo {
    background-color:#ffffff;
    background-image:url(../_img/banner.png);
    height:100px;
}

.topo .linha-titulo .titulo {
    font-family:'TituloTema', cursive;
    font-size:2.2em;
    color:rgb(244,194,93);
    margin-top:10px;
    text-align: center;
    /*border:1px red dashed;*/
}

.topo .linha-titulo .subtitulo {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:1.2em;
    color:#FFF;
    line-height:20px;
    text-align: center;
}

.topo .linha-paginacao {
    background-image:url(../template/barra_paginacao.png);
    background-repeat:no-repeat;
    height:32px;
    z-index: 3;
    position: relative;
}

.topo .bandeira {
    width:41px;
    height:82px;
    position:absolute;
    margin-left:10px;
    background-image:url(../template/bandeirinha.png);
    background-repeat:no-repeat;
    color:#FFFFFF;
    text-align:center;
}
.topo .bandeira .aula {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:1em;
    padding-top:4px;
}
.topo .bandeira .num {
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:3em;
    margin-top:-17px;
}

/******************************
Botão menu
*******************************/
#btMenu {
    background:url(../template/bt_menu.png) no-repeat 0px -30px;
    width:90px;
    height:30px;
    text-indent:-999em;
    color:rgba(255,255,255,0);
    text-decoration:none;
    position:absolute;
    right:0px;

}

#btMenu:hover {
    background:url(../template/bt_menu.png) no-repeat 0px 0px;
}

#menuItens {
    font-family:'Open Sans Condensed', sans-serif;
    position:relative;
    background:rgb(20,139,139);
    padding:10px;
    margin-top: 10px;
    float:right;
    width: 20%;
    height:auto;
    z-index:50;
}
#menuItens ul {
    margin-top:20px;
}
#menuItens a {
    text-decoration:none !important;
}
#menuItens li{
    list-style-type: none;
    /*color:#00c3c3;*/
    color:#FFFFFF;
    padding:3px;
}
#menuItens li:hover {
    font-family:'Open Sans Condensed', sans-serif;
    font-weight:bold;
    color:#88ffff;
}
#menuItens .menuFechar {
    float:right;
    text-decoration:none;
    color:#FFF;
    font-weight:bold;
    margin-top:-5px;
}
#menuItens .menu-rodape {
    background-image:url(../template/menu_rodape.png);
    background-repeat:no-repeat;

    height:12px;
    /*border:1px dashed green;*/
}

/******************************
Interface
*******************************/
#container {
    height:600px; width:800px;
    left:50%; top:50%;
    margin:-300px 0 0 -400px; 
    position:absolute;
    /* border:1px dashed green;   */
}
#container #sombraVoltar {
    background:url(../template/sombra_esq.png) no-repeat;
    width:39px;
    height:600px;
    float:left;
    /* border:1px dashed green; */
}
#container #sombraAvancar {
    background:url(../template/sombra_dir.png) no-repeat;
    width:39px;
    height:600px;
    float:right;
    /* border:1px dashed green; */
}
#container #meio {
    /* background-color:#f4f6f6; */
    background-image:url(../template/bg_folhaamassada.jpg);

    margin:auto;
    display:block;
    float:left;
    width:722px;
    height:100%;
    /*max-height:600px;*/
    max-height:600px;
    /* height:800px; /* esse não tinha.. .eu que inventei */
    /* border:1px red dashed; */
}

.roolover {
    -webkit-transition:	all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}
.roolover:hover {
    -webkit-transition:	all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

/******************************
Header
*******************************/
#logo {
    background:url(../template/logo.png) no-repeat;
    height:68px;
    width:252px;
    margin:0px 0 0 80px;
    position:absolute;
}
#boxTitulo {
    height:auto;
    width:420px;
    font-size:28px;
    margin:5px 0 0 335px;
    position:absolute;
    color:#5c5e64;
}
#boxTitulo .subtitulo {
    font-size:14px;
    margin-top:-5px;
    position:absolute;
}

/************************************************************
Navegacao botoes que avancam e retrocedem!!
************************************************************/
.menu-nav {
    background-image:url(../template/setas_bg.png);
    background-repeat:no-repeat;
    width:76px;
    height:52px;
    position:absolute;
    /* top:33px;
    right:90px; */ 
    top: 60px;
    right:0px;
}

.nav {
    width:27px;
    height:99px;
    margin:auto;
    text-indent:-999em;
}
.btVoltar {
    background-image:url(../template/seta_voltar.png);
    background-repeat:no-repeat;
    background-position:0 0;
    width:12px;
    height:13px;
    position:absolute;
    /* top:53px;
    right:180px; */
    top:80px;
    right:90px;
}
.btAvancar {
    background-image:url(../template/seta_avancar.png);
    background-repeat:no-repeat;
    background-position:-27px 0;
    width:26px;
    height:21px;
    position:absolute;
    /* top:48px;
    right:140px; */
    top:75px;
    right:50px;
}

/******************************
Paginação
*******************************/
#paginacao {
    height:auto;
    position:absolute;
    width:640px;
    margin-left:0px;
    height:30px;
}

#paginacao .pagNum, #paginacao .pagNumClick {
    /* color:#00c3c3; */
    color:rgb(20,139,139);
    text-decoration:none;
    width:34px;
    height:30px;
    text-align:center;
    font-size:1.0em;
    float:left;
    background-image:url(../template/paginacao_bg.png);
    background-repeat:no-repeat;
    font-weight:bold;
    vertical-align:middle;
    display:table-cell;
}
#paginacao .pagNumClick {
    font-size:1.2em;
    color:#004b61;
}
#paginacao .pagNumClick p{
    margin-top:2px;
}
#paginacao .pagNum p {
    margin-top:5px;
}
#paginacao .pagNum:hover {
    color:#333;
}

/******************************
Conteudo
*******************************/
#conteudo {
    height:auto;
    width:auto;
    /* 
    max-width:640px;
    margin:90px auto 0;
    */
    max-width:800px;
    margin:90px auto 0 0px;
}
#conteudo #btFechar {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#cccccc;
    padding:3px;
    width:18px;
    height:18px;
    position:absolute;
    text-align:center;
    font-weight:bold;
    color:#444e58;
    margin:8px 0px 0 685px;
    font:bold 15px Arial, Helvetica, sans-serif;

    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .15);

    z-index:100;

}
.iframe {
    width:100%; height:100%;
    position:absolute;
    /*max-width:640px;
    max-height:480px;*/
    max-width:720px;
    max-height:468px;
    margin:10px 0 0 0px;
    overflow:auto;
    /* border:1px blue dashed; */
    top:125px; 

}

#rodape{
    width: 720px;
    margin: 0 auto;
    background-color: #4d4d4d;
    clear: both;
    position: relative;
    top: 3px;
}

#rodape p{
    color: white;
    font-size: 1.05em;
    padding: 10px;
}