@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@font-face {
    font-family: 'FonteTitulo';
    src:url(../_fonts/ShadowsIntoLight.ttf);
}
@font-face {
    font-family: 'FonteCorpo';
    src:url(../_fonts/ArchitectsDaughter.ttf);
}
@font-face {
    font-family: 'TituloTema';
    src:url(../_fonts/chawp.ttf);
}
@font-face {
    font-family: 'SubTituloTema';
    src:url(../_fonts/KGMakesYouStronger.ttf);
}
body, html {
    margin:0;
    padding:0;
    color:rgb(82,82,82);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-size:1.0em; 
}
* {margin:0; padding:0}


.pagina a {
    color:#333;
    font-weight:bold;
    text-decoration:none;
}
.pagina a:hover {
    color:#333;
    font-weight:bold;
    text-decoration:underline;
}

/******************************
Estou montando minhas classes
*******************************/

.pagina {
    width: 700px;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

.pagina .esq
{
    float:left; 
}

.pagina .dir
{
    float:right; 
}

.clear{
    clear: both;
}

/*******************************************
P A R Á G R A F O S 
****************************************/
h1, h2, h3, h4, h5, h6{
    text-indent:0px;
    text-align:center;
    text-height:26px;
    margin:10px 20px;
    font-size:30px;
}
.pagina h1
{ 
    font-family:'FonteTitulo', cursive;
}
.pagina h2
{
    font-family:'Amatic SC', cursive;
}

.pagina h3
{
    font-family:'TituloTema', cursive;
}

.pagina h4
{
    font-family:'SubTituloTema', cursive;
}

.pagina p{
    width: 80%;
    margin:10px auto;
    text-indent:35px;
    text-align:justify;
    text-height:12px;
    font-family:'FonteCorpo', sans-serif, cursive;
}

.pagina small { /*Texto de rodapé*/
    text-indent:0px;
    text-align:justify;
    text-height:12px;
    font-size:11px;
    color:rgb(255,255,255);
    margin:5px;
}

/*******************************
B O X 
*******************************/

.pagina .box
{
    width: 550px; 
    position:relative;
    padding: 5px;
    /* margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 6px #999; 
	-moz-box-shadow: 4px 4px 6px #999;
	box-shadow: 4px 4px 6px #999;	
}
.pagina .box p
{
    width: 87%;
}

/***************************************************
LISTAS
***************************************************/
.pagina ul
{
    width: 85%;
    margin: 0 auto;
   /* list-style-type:square;*/
}

.pagina ol
{
    margin:10px 40px;
    list-style-type: decimal;
    text-align: justify;
}

.pagina li
{
    margin:10px 40px;
    text-align: justify;

}

/****************************************************
I M A G E N S 
*****************************************************/	
.pagina .desloca_direita {
    position:relative;
    float:right;
    margin:-5px -80px 0px 20px;
}

.pagina .desloca_direita_justa {
    position:relative;
    float:right;
    margin:-5px 00px 0px 10px;
}

.pagina .desloca_esquerda {
    position:relative;
    float:left;
    margin:-5px 20px 0px -80px;
}

.pagina .desloca_esquerda_justa {
    position:relative;
    float:left;
    margin:-5px auto 0px 10px;
}

.pagina .etiqueta_centro {
    position:relative;
    float:left;
    left:50%;
    margin:30px auto 0px -175px;
    /* as etiquetas tem 350px de largura */	
}

.pagina .imagem700_centro {
    position:relative;
    float:left;
    left:50%;
    margin:30px auto 0px -350px;
    /* imagem com 700px de largura */	
}	

.pagina .imagem600_centro {
    position:relative;
    float:left;
    left:50%;
    margin:30px auto 0px -300px;
    /* imagem com 700px de largura */	
}

.pagina .imagem170_centro {
    position:relative;
    float:left;
    left:50%;
    margin:10px auto 0px -85px;
    /* imagem com 700px de largura */	
}

/******************************************
M O L D U R A S 
*******************************************/

.pagina .moldFolha02 {
    background-image:url(../_img/moldura%20folha%2002.png);
    width:699px;
    height:530px;
}

.pagina .moldFolha02 article {
    float:left;
    position:relative;
    margin-left:60px;
    margin-top:40px;
    width:360px;
    transform: rotate(-5deg); 
}

.pagina .moldFolha02 p {
    margin-top:10px;
    text-indent:30px;
    text-align:justify;
    text-height:16px;
    font-family:'FonteCorpo', sans-serif, cursive;
}

.pagina .moldCaderno02 {
    background-image:url(../_img/moldura%20caderno%2002.png);
    width:700px;
    height:820px;
    margin:10px 0px 0px auto;
}

.pagina .moldCaderno02 article {
    float:left;
    position:relative;
    margin-left:150px;
    margin-top:90px;
    width:450px;
    transform: rotate(1.5deg);	
}

.pagina .moldCaderno02 p {
    margin-top:10px;
    text-indent:30px;
    text-align:justify;
    text-height:16px;
    font-family:'FonteCorpo', sans-serif, cursive;	 
}

.pagina .moldCaderno02 h1 {
    text-indent:0px;
    text-align:center;
    text-height:26px;
    margin:10px 20px 0 20px;
    font-size:30px;
    color:rgb(247,106,96);
    font-family:'FonteTitulo', cursive;
}

.pagina .moldPapel01 {
    background-image:url(../_img/moldura%20papel%2001.png);
    width:545px;
    height:141px;
    margin:10px auto 30px auto;
}

.pagina .moldPapel01 article {
    float:left;
    position:relative;
    margin-left:30px;
    margin-top:20px;
    width:500px;
    transform: rotate(-3.0deg);	
}

.pagina .moldPapel01 p {
    margin-top:10px;
    text-indent:00px;
    text-align:justify;
    text-height:16px;
    font-family:'FonteCorpo', sans-serif, cursive;	 
}

.pagina .moldPapel01 h1 {
    text-indent:0px;
    text-align:center;
    text-height:26px;
    margin:10px 20px 0 20px;
    font-size:30px;
    color:rgb(247,106,96);
    font-family:'FonteTitulo', cursive;
}

.pagina .moldTablet {
    position:relative;
    float:left;
    width:578px;
    height:363px;
    left:50%;
    margin: 50px auto 0px -289px;
    background-image:url(../_img/moldura%20tablet.png);
}

.pagina .moldPodcast {
    position:relative;
    float:left;
    width:370px;
    height:266px;
    left:50%;
    margin: 30px auto 0px -185px;
    background-image:url(../_img/moldura%20podcast.png);
}

.pagina .youtube {
    position: relative;
    float:left;
    width:500px;
    height:281px;
    left:50%;
    margin:40px auto 0 -254px;
}	


/***************
CORES
***************/
.BG_branco    {background-color:rgb(255,255,255) !important;}
.BG_cinza     {background-color:rgb(82,82,82)!important;}
.BG_preto     {background-color:rgb(0,0,0)!important;}
.BG_vermelho  {background-color:rgb(247,106,96)!important;}
.BG_verde     {background-color:rgb(104,196,159)!important;}
.BG_azul      {background-color:rgb(104,137,215)!important;}
.BG_amareloEscuro {background-color:rgb(182,140,55)!important;}
.BG_amareloClaro {background-color:rgb(255,216,136)!important;}

/**************************************
Correção Altura e Largura
***********************************/
.w100 {width:100px !important;}
.w150 {width:150px!important;}
.w200 {width:200px!important;}
.w250 {width:250px!important;}
.w300 {width:300px!important;}
.w350 {width:350px!important;}
.w400 {width:400px!important;}
.w450 {width:450px!important;}
.w500 {width:500px!important;}
.w550 {width:550px!important;}
.w600 {width:600px!important;}
.w650 {width:650px!important;}
.w700 {width:700px!important;}

.h100 {height:100px!important;}
.h125 {height:125px!important;}
.h150 {height:150px!important;}
.h175 {height:175px!important;}
.h200 {height:200px!important;}
.h250 {height:250px!important;}
.h300 {height:300px!important;}
.h350 {height:350px!important;}
.h375 {height:375px!important;}
.h400 {height:400px!important;}
.h450 {height:450px!important;}
.h500 {height:500px!important;}
.h550 {height:550px!important;}
.h600 {height:600px!important;}
.h650 {height:650px!important;}
.h700 {height:700px!important;}
.h750 {height:750px!important;}
.h800 {height:800px!important;}
.h850 {height:850px!important;}
.h900 {height:900px!important;}
.h950 {height:950px!important;}
.h1000 {height:1000px!important;}
.h1180 {height:1180px!important;}
.h1250 {height:1250px!important;}
.h1300 {height:1300px!important;}
.h1400 {height:1400px!important;}
.h1500 {height:1500px!important;}
.h1750 {height:1750px!important;}
.h2000 {height:2000px!important;}
.h2250 {height:2250px!important;}
.h2500 {height:2500px!important;}
.h2750 {height:2750px!important;}
.h3000 {height:3000px!important;}
.h3250 {height:3250px!important;}
.h3500 {height:3500px!important;}
.h3750 {height:3750px!important;}
.h4000 {height:4000px!important;}

.mTop00 {margin-top:0px!important;}
.mTop05 {margin-top:5px!important;}
.mTop10 {margin-top:10px!important;}
.mTop15 {margin-top:15px!important;}
.mTop20 {margin-top:20px!important;}
.mTop25 {margin-top:25px!important;}
.mTop30 {margin-top:30px!important;}
.mTop35 {margin-top:35px!important;}
.mTop40 {margin-top:40px!important;}
.mTop45 {margin-top:45px!important;}
.mTop50 {margin-top:50px!important;}


.mBot10 {margin-bottom:10px!important;}
.mBot15 {margin-bottom:15px!important;}
.mBot20 {margin-bottom:20px!important;}
.mBot25 {margin-bottom:25px!important;}
.mBot30 {margin-bottom:30px!important;}



.mLeft00 {margin-Left:0px!important;}
.mLeft05 {margin-Left:5px!important;}
.mLeft10 {margin-Left:10px!important;}
.mLeft15 {margin-Left:15px!important;}
.mLeft20 {margin-Left:20px!important;}
.mLeft25 {margin-Left:25px!important;}
.mLeft30 {margin-Left:30px!important;}
.mLeft35 {margin-Left:35px!important;}
.mLeft40 {margin-Left:40px!important;}
.mLeft45 {margin-Left:45px!important;}
.mLeft50 {margin-Left:50px!important;}

.mright00 {margin-right:0px!important;}
.mright05 {margin-right:5px!important;}
.mright10 {margin-right:10px!important;}
.mright15 {margin-right:15px!important;}
.mright20 {margin-right:20px!important;}
.mright25 {margin-right:25px!important;}
.mright30 {margin-right:30px!important;}
.mright35 {margin-right:35px!important;}
.mright40 {margin-right:40px!important;}
.mright45 {margin-right:45px!important;}
.mright50 {margin-right:50px!important;}

.pBot10 {padding-bottom:10px!important;}
.pBot15 {padding-bottom:15px!important;}
.pBot20 {padding-bottom:20px!important;}
.pBot25 {padding-bottom:25px!important;}
.pBot30 {padding-bottom:30px!important;}

.pTop10 {padding-top:10px!important;}
.pTop15 {padding-top:15px!important;}
.pTop20 {padding-top:20px!important;}
.pTop25 {padding-top:25px!important;}
.pTop30 {padding-top:30px!important;}


.Top00 {top:0px!important;}
.Top05 {top:5px!important;}
.Top10 {top:10px!important;}
.Top15 {top:15px!important;}
.Top20 {top:20px!important;}
.Top25 {top:25px!important;}
.Top30 {top:30px!important;}
.Top35 {top:35px!important;}
.Top40 {top:40px!important;}
.Top45 {top:45px!important;}
.Top50 {top:50px!important;}

.fontePequena{font-size:10px;}

.block { display:  block}
/**************************************
ajuda
***********************************/

.borda_facil {
    border:1px red dashed;
}